*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
main{
    padding: 1rem;
    width: 100%;
    height: 100vh;
    background-image:url(Assets/bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.text-btn-center{
    width: 100%;
    text-align: center;
    color: #926239;
}

.center h1{
    font-size: 50px;
    line-height: 1;
}
.center p{
    font-size: 20px;
}
.center button{
   font-size: 1.1rem;
   padding: 10px 20px;
   border-radius: 10px;
   outline: none;
   border: 1px solid #926239;
   cursor: pointer;
   margin-top: 1.1rem;
   background-color: transparent;
   color: #926239;

}
.center button:hover{
    background-color: #926239;
    color: #fff;
}
.section1{
    width: 100%;
    background-color: #926239;
    color: #fff;
    padding: 1rem;
    text-align: center;
}
.section2{
    width: 100%;
    background-color:#fff;
    color:  #926239;
    padding: 1rem;
    text-align: center;
}
.section3{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.section3 .a{
    width: 33.33%;
    padding: 1rem;
    background-color: #926239;
    color: #fff;
    text-align: center;
}
#middle{
    background-color: #fff;
    color: #926239;
}

